/*
 * === PLace Section ===
 */

.places {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.places article {
  display: inline-block;
  width: 390px;
  padding: 20px;
  margin: 30px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.places h1 {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  padding-top: 30px;
  width: 100%;
}
.places article h2 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
